# Agenda

* Introducing Pandas Basic Functions with Examples
   * axes
   * dtype & dtypes
   * empty
   * ndim
   * size
   * values
   * head()
   * tail()

## Pandas Basic Functions

**dataset**

In [69]:
import pandas as pd
import numpy as np
from IPython.display import display

dataset = pd.DataFrame({'Movie Name':['Avengers Age of Ultron','Batman vs Superman',
                                      'Black Panthor','Thor','Avengers Civil War','Bahubali the conclusion'],
                        'Rating':[4.5,3,4.5,4,3.5,4],
                        'Year of Release':[2015,2016,2017,2013,2016,2017]})
display(dataset)

                Movie Name  Rating  Year of Release
0   Avengers Age of Ultron     4.5             2015
1       Batman vs Superman     3.0             2016
2            Black Panthor     4.5             2017
3                     Thor     4.0             2013
4       Avengers Civil War     3.5             2016
5  Bahubali the conclusion     4.0             2017

### Axes [ pd.Series.axes & pd.DataFrame.axes ]
* Returns a list with the row axis labels and column axis labels as the only members(Order of labels in dtaframe preserves)

** axes on dataframe **

In [7]:
dataset.axes

[RangeIndex(start=0, stop=6, step=1),
 Index(['Movie Name', 'Rating', 'Year of Release'], dtype='object')]

**axes on series**

In [8]:
dataset['Movie Name'].axes

[RangeIndex(start=0, stop=6, step=1)]

### dtypes [ pd.Series.dtype/dtypes & pd.DataFrame.dtypes ]
* Returns the dtype/dtypes in the object

In [19]:
dataset.dtypes

Movie Name          object
Rating             float64
Year of Release      int64
dtype: object

* dtype/dtypes can be used on series.

In [22]:
dataset['Movie Name'].dtypes

dtype('O')

In [25]:
dataset['Movie Name'].dtype

dtype('O')

## empty [pd.Series.empty &  pd.DataFrame.empty]

* Returns True if the dataframe/panel is empty[ no item | any of given axes of length 0]
* If dataframe/panel contains only NaNs, it is still not considered empty

**empty check on empty dataframe**

In [57]:
empty_dataset = pd.DataFrame({'Name':[],'Gender':[]})
display('Axes info of empty dataset:', empty_dataset.axes)
display('Empty_dataset is Empty', empty_dataset.empty)

'Axes info of empty dataset:'

[RangeIndex(start=0, stop=0, step=1),
 Index(['Gender', 'Name'], dtype='object')]

'Empty_dataset is Empty'

True

**empty check on empty series**

In [67]:
empty_dataset = pd.DataFrame({'Name':[],'Gender':[]})
display('Axes info of empty dataset:', empty_dataset['Name'].axes)
display('Empty_dataset is Empty', empty_dataset['Name'].empty)

'Axes info of empty dataset:'

[RangeIndex(start=0, stop=0, step=1)]

'Empty_dataset is Empty'

True

In [66]:
display(empty_dataset['Name'].axes)
empty_dataset['Name'].empty

[RangeIndex(start=0, stop=2, step=1)]

False

**empty on dataset contains only nan**

In [70]:
nan_dataset = pd.DataFrame({'Name':[np.nan,np.nan]})
display('Axes info of empty dataset:', nan_dataset.axes)
display('Empty_dataset is Empty', nan_dataset.empty)

'Axes info of empty dataset:'

[RangeIndex(start=0, stop=2, step=1), Index(['Name'], dtype='object')]

'Empty_dataset is Empty'

False

* Note: np.nan values treated as entries by empty

### ndim [ pd.Series.ndim & pd.DataFrame.ndim]

* Returns Number of axes / array dimensions

** Finding dimensions of dataframe**

In [79]:
dataset.ndim

2

**Finding ndim of series**

In [81]:
dataset['Movie Name'].ndim

1

### size [ pd.Series.size &  pd.DataFrame.size ]

* Returns number of elements in the Series/DataFrame/Panel.

**Finding Size of Dataframe(i.e dataset)**

In [85]:
dataset.size

18

**Finding size of Series(i.e. Movie Name)**

In [87]:
dataset['Movie Name'].size

6

### values [ pd.Series.values & pd.DataFrame.values ]
* Returns numpy representation of Series/DataFramee/Panel

**Fetching values in DataFrame**

In [92]:
dataset.values

array([['Avengers Age of Ultron', 4.5, 2015],
       ['Batman vs Superman', 3.0, 2016],
       ['Black Panthor', 4.5, 2017],
       ['Thor', 4.0, 2013],
       ['Avengers Civil War', 3.5, 2016],
       ['Bahubali the conclusion', 4.0, 2017]], dtype=object)

**Fetching values in Series**

In [99]:
dataset['Rating'].values

array([ 4.5,  3. ,  4.5,  4. ,  3.5,  4. ])

### head() [ pd.Series.DataFrame() & pd.DataFrame.head()]
* Return the first n rows.
* default n value 5

**Fetching first 5 records from DataFrame**

In [104]:
dataset.head()

               Movie Name  Rating  Year of Release
0  Avengers Age of Ultron     4.5             2015
1      Batman vs Superman     3.0             2016
2           Black Panthor     4.5             2017
3                    Thor     4.0             2013
4      Avengers Civil War     3.5             2016

**Fetching first 3 records from DataFrame**

In [105]:
dataset.head(n=3)

               Movie Name  Rating  Year of Release
0  Avengers Age of Ultron     4.5             2015
1      Batman vs Superman     3.0             2016
2           Black Panthor     4.5             2017

**Fetching first 5 records from Series**

In [107]:
dataset['Rating'].head()

0    4.5
1    3.0
2    4.5
3    4.0
4    3.5
Name: Rating, dtype: float64

**Fetching first 3 records from Series**

In [109]:
dataset['Rating'].head(n=3)

0    4.5
1    3.0
2    4.5
Name: Rating, dtype: float64

### tail() [ pd.Series.DataFrame() & pd.DataFrame.head()]
* Return the last n rows.
* default n value 5

**Fetching last 5 records from DataFrame**

In [111]:
dataset.tail()

                Movie Name  Rating  Year of Release
1       Batman vs Superman     3.0             2016
2            Black Panthor     4.5             2017
3                     Thor     4.0             2013
4       Avengers Civil War     3.5             2016
5  Bahubali the conclusion     4.0             2017

**Fetching last 3 records from DataFrame**

In [113]:
dataset.tail(n=3)

                Movie Name  Rating  Year of Release
3                     Thor     4.0             2013
4       Avengers Civil War     3.5             2016
5  Bahubali the conclusion     4.0             2017

**Fetching last 5 records from Series**

In [120]:
dataset['Rating'].tail()

1    3.0
2    4.5
3    4.0
4    3.5
5    4.0
Name: Rating, dtype: float64

**Fetching last 5 records from Series**

In [118]:
dataset['Rating'].tail(n=3)

3    4.0
4    3.5
5    4.0
Name: Rating, dtype: float64